services:
  zenn-cli:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    command: npx zenn preview --host 0.0.0.0 --port 8000
