name: Hatena - Push

on:
  pull_request:
    branches:
      - main
    types: [closed]
    paths:
      - "hatena/entries/**"
  workflow_call:
    inputs:
      local_root:
        default: "entries"
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  push:
    if: |
      github.event.pull_request.merged == true
      && !contains(github.event.pull_request.labels.*.name, 'skip-push')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./hatena
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@8564b85b51cda20eb962f0dec3bf3fcff3dd0326 # v2.0.7
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: ${{ inputs.local_root }}/**/*.md
          since_last_remote_commit: true
      - name: blogsync push
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            if [[ -z "$draft" ]]; then
              blogsync push "$file"
            fi
          done
